#credits {
    background: rgb(14, 8, 8);
    background: linear-gradient(38deg, rgba(14, 8, 8, 1) 29%, rgba(12, 46, 23, 0.5159313725490196) 72%, rgba(44, 75, 79, 1) 100%);
    text-align: center;
    /* height: 100vh; */
    padding: 0 0 5vmax 0;
}

#credits h2 {
    padding: 6vmax 0 0 0;
    font-size: 5rem;
}

.credit-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 2.3vw auto;
    justify-content: space-evenly;

}

.credit-item {
    width: 23vw;
    height: 32vw;
}

.credit-item-1 {
    background-color: #57857963;
    padding: 20px;
    border-radius: 2%;
}

.credit-item-2 {
    background-color: rgba(171, 170, 170, 0.66);
    padding: 35px 20px 0;
    border-radius: 2%;
}

.credit-img {
    width: 18vw;
    border-radius: 50%;
    margin: 1.5vw auto 0.3vw;
    border: #d8940d 2.5px solid;
}

.credit-item hr {
    width: 80%;
    margin: auto;
}

.credit-item h3 {
    font-size: 3rem;

}

.credit-item p {
    width: 60%;
    margin: auto;
    font-size: 1.4rem;
}

.credit-role {
    /* opacity: 0; */
    font-size: 1.4rem;
    padding: 10px 0 5px 0;
    /* color: #b4f7d9; */
    opacity: 0.5;

}

.credit-links {
    margin: 9px;
}

.credit-links i {
    width: 30px;
    font-size: 2rem;
    transition: 0.25s ease-in-out;
}

.credit-links i:hover {
    transform: scale(1.2);

}


@media (max-width:900px) {
    #credits h2 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .credit-main {
        flex-direction: column;
    }

    .credit-item {
        width: 60vw;
        margin: 20px auto;
        height: 45vh;
    }

    .credit-item h3 {
        font-size: 1.8rem;
    }

    .credit-img {
        width: 20vmax;
    }

    .credit-item hr {
        margin: 13px auto 5px;
    }

    .credit-item p {
        margin: -3px auto 20px;
        font-size: 1.13rem;
    }
}