.social-icons{
    font-size: 42px;
    color: white;
    margin-top: 5px;
}

#home {
    height: 83vh;
    text-align: center;
    width: 98.9vw;

}

#home h1 {
    font-weight: 700;
    font-size: 7rem;
    margin: 9vw auto 0;
    text-shadow: 0 0 10px;
    opacity: 0.94;
    z-index: 0;
    position: relative;
    z-index: -1;

}

#home p {
    margin: 9vmax auto 70px;
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    text-shadow: 0 0 7px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;

}

#home button {
    margin: 2.3vw 30px 0;
    width: 12.3vmax;
    height: 2.9vmax;
    font-size: 1.6rem;
    border: #26b099 solid 3px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
    color: #6ECCAF;
    border-radius: 8px;
}

#home button:hover {
    /* background-color: #0b9f69; */
    border: #37dab7 solid 3px;
    color: white;
    text-shadow: 0 0 2px;
    box-shadow: 0 0 7px 0.3px white;
    transform: scale(1.2, 1.2);
    font-weight: 400;
}




@media (max-width:900px) {
    #home {
        max-width: 100vw;
        width: 100%;
        text-align: center;
        height: 100vh;
    }

    #home h1 {
        font-size: 4.4rem;
        margin: 0;
        padding: 22vh 0 0;
        text-align: center;
        text-shadow: 0 0 10px;
    }

    #home p {
        margin: 15vh auto 0;
        text-align: center;
    }

    #home button {
        margin: 12vmax 0 0;
        width: 25vmax;
        height: 6vmax;
    }

 
    #credits h2 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .credit-main {
        flex-direction: column;
    }

    .credit-item {
        width: 60vw;
        margin: 20px auto;
        height: 45vh;
    }

    .credit-item h3 {
        font-size: 1.8rem;
    }

    .credit-img {
        width: 20vmax;
    }

    .credit-item hr {
        margin: 13px auto 5px;
    }

    .credit-item p {
        margin: -3px auto 20px;
        font-size: 1.13rem;
    }


}