@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Monoton&family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap");



.text-white {
  color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Carlito', sans-serif;
  scroll-behavior: smooth;
  transition: ease-in-ou;

}

a {
  text-decoration: none;
}

body {
  background-color: #000000;
  /* background-color: #fff; */
}